<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheLeftExit.Presence.PresenceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheLeftExit.Presence.PresenceSettings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecretMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecretModeMessage" serializeAs="String">
                <value>I'm working on something you're not allowed to know about, sorry.</value>
            </setting>
            <setting name="SolutionFormat" serializeAs="String">
                <value>Developing {0}</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>{0}</value>
            </setting>
            <setting name="ShowTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
        </TheLeftExit.Presence.PresenceSettings>
    </userSettings>
</configuration>